/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  #grad {
    background-image: linear-gradient(#12293a,#faf3dc);
  }
  
  .special {
    background-color: #d5eef2;
    border: outset 20px #87c3cd;
    border-radius: 25px
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-stretch: ultra-expanded;
    animation: slidein 3s ease-in 1s infinite reverse both running;
}

@keyframes slidein {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }
}