body, #content {
    background-image: url(https://i.imgur.com/HlliSoR.jpeg);
    background-size: 100vw 100vh;
    background-color: #001A23;
}

.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

#content {
    border: solid 0px #E8F1F2;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 4px #ecc54e;
    background-color: #481726;
}

h1 {
    color: #f4d479;
    text-align: center;
    font-family: "MedievalSharp", cursive;
}

h2 {
    color: #f4d479;
    font-family: "MedievalSharp", cursive;
}

p {
    color: #ffffff;
}

/* Visited link */
a:visited {
    color: #7A9E7E;
}

/* Mouse over link */
a:hover {
    color: #B3EFB2;
}

/* Selected link */
a:active {
    color: #f69669;
}

/* Custom cursor */
body {
    cursor: url('https://i.imgur.com/zfW20CV.png'), pointer;
}
#output {
    text-align: center; 
    word-wrap: break-word; 
    margin: 0 auto; 
    max-width: 80%; 
}