/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 7px 10px;
  border-radius: 15px;
  background-color: rgb(224, 223, 241);
  color: rgb(171, 161, 126);
  font-family: sans-serif;
  font-size: 0.8em;
}