/* Custom CSS for the ghost icon */
.text {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.text img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 7px 10px;
  border-radius: 15px;
  background-color: #e0dff1;
  color: rgb(115, 115, 151);
  font-family: 'Creepster', sans-serif; /* Apply the spooky font */
  font-size: 0.8em;
}

/* Additional styling to make the h1, h2, and button elements spooooooky */
h1, h2 {
  font-family: 'Creepster', sans-serif;
  color: azure;
}

button {
  font-family: 'Creepster', sans-serif;
  background-color: rgb(201, 203, 224);
  color: rgb(67, 65, 85);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;

}

body {
  cursor: url('https://i.imgur.com/gYj09co.png'), pointer;
}

button:hover {
  background-color: rgb(105, 98, 234);
  color: rgb(255, 255, 255);
}
body {
  background-color: #080f23;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #fbf5ec;
  background-color: #1f244e;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 4px #692f2f;
  background-color: #636788;
}