/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #62929E;
    background-color: #0B032D;
  }

h1 {
  color: #62929E;
font-size: 210%;

text-decoration: underline overline #B59468;
font-family: Didot, serif;
font-style: oblique;

}
  
p{ 
  font-family: 'proxima-nova', sans-serif
text-ident: 20px;
margin-indent: 10px;
}
