/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color:#0B032D;
}
p{ 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #F8F1FF;
  text-indent: 20px;
 }
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #F8F1FF;
    background-color: #62929E;
  }

h1 {
  color: #62929E;
 font-size: 210%;
 text-decoration: underline overline #B59468;
 font-family: Didot, serif;
 font-style: oblique;

}
  
